:root {
  --backgroundColor: #008B8B;
  --grey: #B3B3B3;
  --darkBlue: #00008B;
  --red: #e35f5f;
  --blue: #394dcd;
  --yellow: #dfe300;
  --green: #208c71;
  --purple: #8200FF;
  --orange: #ff7518;
}

@font-face {
  font-family: 'system';
  src: url(./assets/font/9SYSTEMA.TTF);       
  font-weight: normal;
  font-style: normal;
  font-display: swap; /* Keeps text visible while loading */
}

body {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  background-color: var(--backgroundColor);
}

.headerContainer {
  grid-column: 1/4;
  grid-row: 1/2;
  background-color: var(--darkBlue);
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 20px;
  padding-right: 0.5rem;
  font-family: 'system';
}

.buttons {
  grid-column: 1/2;
  grid-row: 2/3;
  display: flex;
  flex-direction: column;
  justify-content: space-between;    
  margin: 0 0 0.5rem 0.5rem;  
}
button{
  font-family: 'system';
  border-bottom: 0.2rem solid rgb(41, 41, 41);
  border-right: 0.2rem solid rgb(41, 41, 41);
  border-left: 0.2rem solid rgb(255, 255, 255);
  border-top: 0.2rem solid rgb(255, 255, 255);
}

.mainUI {
  display: grid;
  grid-template-columns: 15vw 25vw 25vw;
  grid-template-rows: 5vh 15vh 30vh 30vh;
  gap: 0.5vw;
  background-color: var(--grey);
  border: 0.3rem solid var(--grey);
  border-bottom: 0.1rem solid rgb(41, 41, 41);
  border-right: 0.1rem solid rgb(41, 41, 41);
  border-left: 0.1rem solid rgb(255, 255, 255);
  border-top: 0.1rem solid rgb(255, 255, 255);
}

.toDosContainer {
  grid-column: 2/4;
  grid-row: 2/5;
  background-color: rgb(255, 255, 255);
  overflow-y: auto;
  overflow-x: auto;
  margin: 0 0.5rem 0.5rem 0;
  border-top: 0.2rem solid rgb(71, 71, 71);
  border-left: 0.2rem solid rgb(71, 71, 71);
  border-right: 0.2rem solid rgb(212, 212, 212);
  border-bottom: 0.2rem solid rgb(212, 212, 212);
}

.nav {
  grid-column: 1/2;
  grid-row: 3/5;
  background-color: white;
  overflow-y: auto;
  overflow-x: auto;
  margin: 0 0 0.5rem 0.5rem;
  border-top: 0.2rem solid rgb(71, 71, 71);
  border-left: 0.2rem solid rgb(71, 71, 71);
  border-right: 0.2rem solid rgb(212, 212, 212);
  border-bottom: 0.2rem solid rgb(212, 212, 212);
}
.openProject {
  background: none;
  border: none;  
}

.todo {
  margin: 1rem;
  position:relative;
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  width: minmax(550px, 100%);
}
.todo.done::after{
  content: "COMPLETED!"; 
  position: absolute;
  transform: translate(0%, 15%) rotate(-10deg);

  font-family: 'system';
  color: rgba(255, 0, 0, 0.5);
  font-weight: bold;
  font-size: 5.7rem;
  pointer-events: none;
  z-index: 10;
}
.todosButtons{
  display: flex;
  align-items: center;
  gap: 0.5rem;
}
.todoHeader{
  display: flex;
  align-items: flex-start; 
  justify-content: space-between;   
}
.checkDone{
  transform: scale(1.5);
}
.checkDone+label{
  font-size: larger;
  font-family: 'system';
  margin-right: 10px;
  margin-top: 2px;
}
.todoHeader>h1{  
  width: 320px;  
}
.labelTodo{  
  display: inline-block;
  font-weight: bold;
  margin-right: 10px;
  width: 5rem; 
}
.labelTodo, .labelTodo+span{
  font-family: 'system';
}
hr{
  height: 0.1rem;
  background-color: black;
  border: none;
}

.project {
  display: flex;
  justify-content: space-between;   
  margin: 0.5vw 0.5vw 0.5vw 0.5vw;
  padding: 0.5vw 0.5vw 0.5vw 0.5vw;
  background-color: rgb(238, 238, 238);
  border-bottom: 0.1rem solid rgb(71, 71, 71);
  border-right: 0.1rem solid rgb(71, 71, 71);
  border-left: 0.1rem solid rgb(212, 212, 212);
  border-top: 0.1rem solid rgb(212, 212, 212);
  font-family: 'system';
  color:black;
  overflow-x: auto;
  width: min(250px);
}

.pjNameUI {
  display: flex;
}


#inputToDo, #inputProject, #reInputToDo{
  border: none;
  background-color: var(--grey);
  border-bottom: 0.1rem solid rgb(41, 41, 41);
  border-right: 0.1rem solid rgb(41, 41, 41);
  border-left: 0.1rem solid rgb(255, 255, 255);
  border-top: 0.1rem solid rgb(255, 255, 255);  
}
#inputToDo[open], #inputProject[open], #reInputToDo[open]{
  /* display: flex;
  flex-direction: column;   */
  gap: 1rem;
  font-family: 'system';
  padding: 0;
  width: 330px;
}
.dialogHeader{
  background-color: var(--darkBlue);
  color: white;
  padding: 0.5rem 0.5rem 0.5rem 1rem;
}
#inputForm, #projectForm, #reInputForm{    
  display: flex;
  flex-direction: column;
  padding: 0.5rem 1rem 0.5rem 1rem;  
  justify-content: start; 
  gap: 5px;  
}
#tdDesc{
  height: 80px;
  padding: 0.5rem;
}
.dialogButtons{
  display: flex;
  gap: 1rem;
  justify-content: flex-end;
  padding-right: 1rem ;
  margin:2rem 0 1rem 0;
}

#inputProject[open]{    
  width: 250px;  
}

.High {
  background-color: rgb(255, 224, 224);
  border: 0.3rem solid var(--red);
}

.Medium {
  background-color: rgb(255, 254, 224);
  border: 0.3rem solid var(--orange);
}

.Low {
  background-color: rgb(224, 255, 224);
  border: 0.3rem solid var(--green);
}

.red{background-color: var(--red);}
.blue{background-color: var(--blue);}
.yellow{background-color: var(--yellow);}
.green{background-color: var(--green);}
.purple{background-color: var(--purple);}
.orange{background-color: var(--orange);}