body{
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
.buttons{
  display: flex;
  justify-content: center;
  gap: 20px;
}
.mainUI{
  display: flex;
  gap: 1vw;
}
.toDosContainer{
  height: 80vh;
  width: 40vw;
  background-color: rgb(202, 202, 202);
}
.nav{
  height: 80vh;
  width: 10vw;
  background-color: rgb(202, 202, 202);
}
.todo{  
  margin: 1rem;
  padding: 1rem;
  display: flex;
  justify-content: space-between;
}
.project{
  display: flex;  
  justify-content: space-between;
  margin-bottom: 2vh;
  background-color: white;
  padding:0.5vh 0.5vw 0.5vh 0.5vw;
}
.nav{  
  padding: 4vh 0.5vw 1vh 0.5vw;
  
}
.High{
  background-color: rgb(255, 224, 224);
}
.Medium{
  background-color: rgb(255, 254, 224);
}
.Low{
  background-color: rgb(224, 255, 224);
}